@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&family=Dancing+Script:wght@400;500;600;700&family=Bangers&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-white overflow-hidden bg-black;
  }

  ::selection {
    @apply bg-barbie-pink text-white;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .animate-heart-fall {
    animation: heart-fall linear infinite;
  }

  @keyframes heart-fall {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    100% {
      transform: translateY(110vh) rotate(360deg);
      opacity: 0;
    }
  }

  .gpu {
    @apply transform-gpu;
    transform: translate3d(0, 0, 0);
    will-change: transform, opacity;
  }
}